<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EShopDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
    <link rel="shortcut icon" href="img/alexcgdesign.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="social-bar">
        <a href="https://www.facebook.com/" class="icon icon-facebook" target="_blank"></a>
        <a href="https://twitter.com/" class="icon icon-twitter" target="_blank"></a>
        <a href="https://www.youtube.com/" class="icon icon-youtube" target="_blank"></a>
        <a href="https://www.instagram.com/" class="icon icon-instagram" target="_blank"></a>
    </div>

    <header id="header">
    <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/eShop_logo.png"></a>
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Contacto" asp-action="Create">Contacto</a></li> 
                <li><a asp-controller="Carrito" asp-action="Index">Carrito de Compras</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="footer">
        <div class="container">
            &copy; 2020 - EShopDemo 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
