@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <img class="responsive" src="~/img/ofertas_banner.jpg">
        </div>
    </div>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav aria-label="breadcrumb">
  				<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a href="index.html">INICIO</a></li>
    			<li class="breadcrumb-item active" aria-current="page">CATEGORIAS</li>
  				</ol>
				</nav>	
		</div>				
	</div>
    </div>
    <div class="container">
        <div class="row">
          @foreach (Categoria categoria in Model.Mostrar)
          {
            <div class="col-md-3 col-6">
                 <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px;width: 100%; display: block;" src="@categoria.imageData" data-holder-rendered="true">
                <div class="card-body">
                  <h4>@categoria.Name</h4>
                  <p class="card-text">Con O´CLOCK puedes econtrar una variedad de tarifas que se ajusten a tu bolsillo, ya sea dependiendo de la distancia, tipo de carro, entre otras caracteristicas.</p>
                </div>
              </div>
            </div>
          }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>