@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
        <div class="main-gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true}'>
            <div class="gallery-cell"><img src='~/Content/Images/ofertas_banner.jpg'/></div>
            <div class="gallery-cell">...</div>
            <div class="gallery-cell">...</div>
        </div>
</div>
<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
