@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="height: 30vw;">
        <div class="gallery js-flickity responsive" data-flickity-options='{ "cellAlign": "center", "contain": true }'>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/sale_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
        </div>
</div>
<div class="container">
    <div style="margin-bottom: 2vw;">
        <h3>Categorias</h3>
        <div class="row">
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Recomendaciones</h3>
        <div class="row">
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6" style="margin-bottom: 2vw;">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="~/img/carpinteria.jpg" alt="Carpinteria">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Carpinteria</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
