@{
    ViewData["Title"] = "Home Page";
}


<div class="container-md" style="height: 300px;">
        <div class="gallery js-flickity responsive" data-flickity-options='{ "cellAlign": "center", "contain": true }'>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/sale_banner.jpg' class="responsive"/></div>
            <div class="gallery-cell"><img src='~/img/ofertas_banner.jpg'/></div>
        </div>
</div>
<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
