@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container" class="">
    <div class="col-sm" >
    <p>“Por medio de este sitio web se recogen datos de carácter personal necesarios para la gestión y mantenimiento de algunos de nuestros servicios".</p>
    </div>

</div>
