@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrate";
}

<div class="contacto1">
<div class="container-fluid">
<div class="row"> 
  <div class="ejeZcontacto1">
  <div class="contacto1-content">
        <div class="contacto1-title"><h2>@ViewData["Title"]</h2><hr></div>
        <div class="formulario-content">
        <center>
        <form id="formulario" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input id="email" asp-for="Input.Email" class="form-control" placeholder="Ingresa un correo electronico"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input id="user" asp-for="Input.Password" class="form-control" placeholder="Ingresa una contraseña"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input id="user" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirma tu contraseña"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="send">Registrar</button>
            </div>
        </form>
        </center>
        </div>
    </div>
    </div>
</div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
