/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 16px 0;
  background: #FF7C00;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: #FF7C00;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

a:hover {
  color: #0366d6;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# IMG-HEADER
--------------------------------------------------------------*/
.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background:url(../img/gasfi2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.img-header .welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-header .welcome h1{
  font-size: 50px;
  color:#fff;
  font-weight: 200;
}
.img-header .welcome hr{
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
}
.img-header .welcome p{
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}
.img-header .welcome > button{
  width: 170px;
  height: 40px;
  background: var(--red);
  border-radius: 24px;
  border:none;
  outline: none;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.img-header .welcome > button:hover{
  background:var(--blue);
}

@media only screen and (max-width:773px ){
  .img-header .welcome h1{font-size: 40px;}
  .img-header .welcome > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
  .img-header .welcome h1{font-size: 30px;}
  .img-header .welcome hr{width: 100px;}
  .img-header .welcome p{font-size: 17px;}
  .img-header .welcome > button{width: 100px; font-size: 17px;}
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/*--------------------------------------------------------------
# Galería
--------------------------------------------------------------*/

.portafolio{
  background: #f2f2f2;
}

.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(273,91%,27%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}

/*--------------------------------------------------------------
# Nav - Menu
--------------------------------------------------------------*/
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu ul {
  border-radius: 6px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #000000;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

.nav-menu .get-started a {
  background: #FF7C00; 
  color: #000000;
  border-radius: 50px;
  margin: 2px 0 0 15px;
  padding: 4px 25px 6px 25px;
  border: 2px solid #fff;
}

.nav-menu .get-started a:hover {
  background: #0a9afa;
  color: #213b52;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3e6f9b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #fdc134;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px;
}

/* Carrousel styles
-------------------------------------------------- */
.gallery-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
}

.responsive{
  width: 100%;
  height: auto;
  max-height: 25vw;
}

.card-img{
  opacity: 0.7;
  height: 130px;
}

.carousel-cell {
  width: 23%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carro{
  background-color: #FF7C00;
}

.imgcarro{
  width: 150px;
  height: 100px;
}



/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 10%;
    }
    
		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 300px;
			width: 100%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Imagen"; }
		td:nth-of-type(2):before { content: "Servicio"; }
    td:nth-of-type(3):before { content: "Precio"; }
		td:nth-of-type(4):before { content: "Cantidad"; }
		td:nth-of-type(5):before { content: "Subtotal"; }
	}

.detallesubtitulos{
  font-weight: bolder;
  font-size: x-large;
}

/* Pago de tarjeta*/
.creditCardForm {
  max-width: 700px;
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #4c4e56;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
      width: 100%;
  }
  .creditCardForm #credit_cards {
      text-align: left;
  }
}



/** Contacto **/
.contacto{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/img-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.contacto .deg-contacto{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.contacto .ejeZcontacto{
  position: relative;
  width: 100%;
  height: 100%;
}
.contacto .contacto-content{
  padding-top: 100px;
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
}
.contacto .contacto-content .contacto-title{
  width: 50%;
  margin: auto;
  border:2px solid #fff;
  padding:15px;
}
.contacto .contacto-content .contacto-title h2{
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
.contacto .contacto-content .contacto-title hr{
  background: #fff;
  height: 2px;
  width: 80%;
  margin:auto;
}
.contacto .formulario-content{
  width: 60%;
  margin: 50px auto;
  background: #fff;
  padding:30px;
  border-radius: 50px;
  border: 1.5px solid var(--red);
}
.contacto .formulario-content #formulario{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacto .formulario-content #formulario label{
  font-size: 20px;
  text-align: center;
  color: var(--black);
  margin: 30px 0px 10px 0px;
}
.contacto .formulario-content #formulario input{
  width: 90%;
  height: 40px;
  margin:auto;
  border-radius: 24px;
  outline: none;
  border:1.5px solid var(--red);
  text-align: center;
  font-size: 18px;
  color: var(--black);
}
.contacto .formulario-content #formulario textarea{
  width: 90%;
  height: 200px;
  margin:auto;
  padding: 20px;
  border-radius: 24px;
  outline: none;
  border:1.5px solid var(--red);
  font-size: 15px;
  color: var(--black);
}
.contacto .formulario-content #formulario .send{
  margin: 30px;
  display: flex;
  justify-content: center;
}
.contacto .formulario-content #formulario button{
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background: var(--red);
  border: none;
  outline: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.contacto .formulario-content #formulario button:hover{
  background: var(--blue);
}
.contacto .formulario-content #formulario .mensaje-form{
  width: 100%;
  margin:auto;
  padding:20px;
}
.contacto .formulario-content #formulario .mensaje-form p{
  font-size:19px;
  color: var(--black);
  line-height: 35px;
}
.contacto .contacto-text{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background:rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.contacto .contacto-text p{
  font-size: 20px;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width:900px){
  .contacto .formulario-content{width: 85%; padding:20px;}
  .contacto .formulario-content #formulario input{width: 100%;}
  .contacto .formulario-content #formulario textarea{width: 100%;}
}
@media only screen and (max-width:590px){
  .contacto .formulario-content{width: 95%; padding:20px;}
  .contacto .formulario-content #formulario label{font-size: 17px;}
  .contacto .formulario-content #formulario input{width: 100%; font-size: 17px;}
  .contacto .formulario-content #formulario textarea{width: 100%;}
  .contacto .formulario-content #formulario .mensaje-form p{font-size: 17px;}
  .contacto .contacto-text{width: 100%; padding: 0px 30px;}
  .contacto .contacto-text p{font-size: 17px;}
}
