/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
  background:	#f4be02;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

  
/* home section styling */
.home{
    display: flex;
    background: url("../img/header.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width{
      margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  .services .serv-content .card{
      width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text{
      font-size: 19px;
  }
  .contact .right form .fields{
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
      margin: 0;
  }
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
}
/*--------------------------------------------------------------
# IMG-HEADER
--------------------------------------------------------------*/
.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.img-header .welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-header .welcome h1{
  font-size: 50px;
  color:#fff;
  font-weight: 200;
}
.img-header .welcome hr{
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
}
.img-header .welcome p{
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
}
.img-header .welcome > button{
  width: 170px;
  height: 40px;
  background: var(--red);
  border-radius: 24px;
  border:none;
  outline: none;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.img-header .welcome > button:hover{
  background:var(--blue);
}

@media only screen and (max-width:773px ){
  .img-header .welcome h1{font-size: 40px;}
  .img-header .welcome > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
  .img-header .welcome h1{font-size: 30px;}
  .img-header .welcome hr{width: 100px;}
  .img-header .welcome p{font-size: 17px;}
  .img-header .welcome > button{width: 100px; font-size: 17px;}
}


/*--------------------------------------------------------------
# Galería
--------------------------------------------------------------*/

.portafolio{
  background: #f2f2f2;
}

.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(273,91%,27%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}



/* Carrousel styles
-------------------------------------------------- */
.gallery-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.gallery-cell:before {
  display: block;
}

.responsive{
  width: 100%;
  height: auto;
  max-height: 25vw;
}

.card-img{
  opacity: 0.7;
  height: 130px;
}

.carousel-cell {
  width: 23%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carro{
  background-color: #FF7C00;
}


.imgcarro{
  width: 150px;
  height: 100px;
}



/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 10%;
    }
    
		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 300px;
			width: 100%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Imagen"; }
		td:nth-of-type(2):before { content: "Servicio"; }
    td:nth-of-type(3):before { content: "Precio"; }
		td:nth-of-type(4):before { content: "Estado";}
	}

.detallesubtitulos{
  font-weight: bolder;
  font-size: x-large;
}

/* Pago de tarjeta*/
.creditCardForm {
  max-width: 700px;
  background-color: #fff;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: #4c4e56;
}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #4c4e56;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #2ec4a5;
  color: white;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
      width: 100%;
  }
  .creditCardForm #credit_cards {
      text-align: left;
  }
}



/** Contacto **/
.contacto{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/img-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.contacto .deg-contacto{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.contacto .ejeZcontacto{
  position: relative;
  width: 100%;
  height: 100%;
}
.contacto .contacto-content{
  padding-top: 100px;
  width: 90%;
  margin: auto;
  padding-bottom: 100px;
}
.contacto .contacto-content .contacto-title{
  width: 50%;
  margin: auto;
  border:2px solid #fff;
  padding:15px;
}
.contacto .contacto-content .contacto-title h2{
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
.contacto .contacto-content .contacto-title hr{
  background: #fff;
  height: 2px;
  width: 80%;
  margin:auto;
}
.contacto .formulario-content{
  width: 60%;
  margin: 50px auto;
  background: #fff;
  padding:30px;
  border-radius: 50px;
  border: 1.5px solid var(--red);
}
.contacto .formulario-content #formulario{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacto .formulario-content #formulario label{
  font-size: 20px;
  text-align: center;
  color: var(--black);
  margin: 30px 0px 10px 0px;
}
.contacto .formulario-content #formulario input{
  width: 90%;
  height: 40px;
  margin:auto;
  border-radius: 24px;
  outline: none;
  border:1.5px solid var(--red);
  text-align: center;
  font-size: 18px;
  color: var(--black);
}
.contacto .formulario-content #formulario textarea{
  width: 90%;
  height: 200px;
  margin:auto;
  padding: 20px;
  border-radius: 24px;
  outline: none;
  border:1.5px solid var(--red);
  font-size: 15px;
  color: var(--black);
}
.contacto .formulario-content #formulario .send{
  margin: 30px;
  display: flex;
  justify-content: center;
}
.contacto .formulario-content #formulario button{
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background: var(--red);
  border: none;
  outline: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.contacto .formulario-content #formulario button:hover{
  background: var(--blue);
}
.contacto .formulario-content #formulario .mensaje-form{
  width: 100%;
  margin:auto;
  padding:20px;
}
.contacto .formulario-content #formulario .mensaje-form p{
  font-size:19px;
  color: var(--black);
  line-height: 35px;
}
.contacto .contacto-text{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background:rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
}
.contacto .contacto-text p{
  font-size: 20px;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width:900px){
  .contacto .formulario-content{width: 85%; padding:20px;}
  .contacto .formulario-content #formulario input{width: 100%;}
  .contacto .formulario-content #formulario textarea{width: 100%;}
}
@media only screen and (max-width:590px){
  .contacto .formulario-content{width: 95%; padding:20px;}
  .contacto .formulario-content #formulario label{font-size: 17px;}
  .contacto .formulario-content #formulario input{width: 100%; font-size: 17px;}
  .contacto .formulario-content #formulario textarea{width: 100%;}
  .contacto .formulario-content #formulario .mensaje-form p{font-size: 17px;}
  .contacto .contacto-text{width: 100%; padding: 0px 30px;}
  .contacto .contacto-text p{font-size: 17px;}
}
.borde{
  border: #B82913 1px solid;
  border-radius:22px;
}
.fondo{
  background-image: url(https://thumbs.dreamstime.com/b/tarjeta-del-pago-trav%C3%A9s-del-terminal-en-fondo-de-madera-de-la-opini%C3%B3n-superior-de-la-tienda-82953023.jpg);
}
.title{
  width: 50%;
  margin: auto;
  border:2px solid #B82913;
  padding:15px;
  text-align: center;
  text-decoration-line: underline;
  color: #B82913;
}