@{
    ViewData["Title"] = "Detalle Del Producto";
}

 <!--TO Jalar imagenes de la base de datos dependiendo de producto con su descripcion -->



<div class="col-sm">
        <img src="sSdadwda" alt="dwadawdadawdw">
 </div>

<div class="col-sm">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, debitis nihil minus quis est cupiditate accusantium tempora optio facere vero dolore nisi id ea molestiae. Quia ratione eaque laborum aspernatur.
        Repellendus consequatur commodi incidunt adipisci, vel nisi laudantium molestiae cupiditate! Incidunt minus velit quisquam? Itaque excepturi, officiis id numquam alias deleniti et maiores, minus, accusamus commodi saepe exercitationem inventore beatae.
        Ab modi magni delectus consequatur accusamus reiciendis perspiciatis dolores nisi quod reprehenderit. Commodi laborum molestiae, quia, perferendis ratione ipsa exercitationem saepe tenetur possimus, ipsam aspernatur repellendus cum mollitia dicta id.
        Reprehenderit eos fugit aperiam quidem sapiente, officia provident consequuntur veritatis maxime facere vero tenetur porro. Expedita mollitia, ipsam magnam accusamus a reprehenderit minima explicabo aut saepe culpa praesentium cum vitae.</p>
</div>